@charset "UTF-8";

body {
  background-color: var(--white);
}

header img {
  height: auto;
  width: 100%;
  object-fit: fill;
}

main {
  margin: 30px;
}

main article {
  border-radius: 5px;
  padding: 20px;
  margin-block: 20px;
  background-color: var(--rose-50);
}

main h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  color: var(--stone-900);
}

main h2 {
  font-size: 2.5em;
  font-weight: 600;
  margin-block: 20px;
}

main h2.delimitation {
  padding-top: 20px;
  border-top: 1px solid;
  border-color: var(--stone-150);
}

main h2, main li::marker, main table tr td.right {
  color: var(--brown-800);
}

main h1, main h2 {
  font-family: "YoungSerif";
  font-weight: 400;
}

main h3 {
  font-size: 2em;
  color: var(--rose-800);
}

main p {
  font-size: 1.6em;
  line-height: 1.6em;
  margin-block: 20px;
}

main p, main table {
  font-size: 1.4em;
}

main ul, main ol {
  font-size: 1.3em;
  margin-top: 10px;
  margin-left: 25px;
}

main ul li, main ol li {
  padding-block: 5px;
  padding-left: 15px;
}

main table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

main table tr.border {
  border-bottom: 1px solid;
  border-color: var(--stone-150);
}

main table tr td {
  padding-block: 10px;
  padding-left: 30px;
  padding-right: 40px;
}

main table tr td.right {
  font-weight: bold;
  padding-left: 30px;
  padding-right: 60px;
}

footer.attribution {
  text-align: center;
}

footer.attribution a {
  font-weight: bold;
  text-decoration: none;  
  color: black;
}

footer.attribution a:hover {
  text-decoration: underline;
  color: var(--blue);
}